# -----------------------
# General
# -----------------------
.DS_Store
Thumbs.db
*.log
logs/
*.tmp

# -----------------------
# Java / Backend
# -----------------------
*.class
*.jar
*.war
*.ear
target/
build/
out/

# IDE files
.idea/
*.iml
.project
.classpath
.settings/

# -----------------------
# React / Frontend
# -----------------------
node_modules/
build/
dist/
.env
.env.local
.env.development
.env.production

# -----------------------
# Database
# -----------------------
*.sql.backup
*.dump

# -----------------------
# System
# -----------------------
*.swp
*.swo